<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bloom Beauty - <%= titulo %></title>

  <link rel="stylesheet" href="/css/style.css" /> 
</head>

<body class="bg-neutra-50">

  <!-- Header fixo  -->
  <header>
  <div class="logo_header">
    <img src="/IMG/cropped_circle_image.png" alt="Logo Bloom Beauty">
  </div>

  <nav class="menu">
    <a href="/admin">Home</a>
    <a href="/usuarios">Usuários</a>
    <a href="#">Categorias</a>
    <a href="#">Cadastro ou Movimentação</a>
    <a href="#">Produtos</a>
  </nav>

  <div class="user">
    <i class="fa-regular fa-user"></i>
    <span> User</span>
  </div>
</header>

</body>
</html>